<div class="min-h-screen flex items-center justify-center bg-base-100">
  <div class="max-w-6xl w-full grid grid-cols-1 md:grid-cols-2 gap-8 p-12">
    
    <!-- Linke Seite: Formular -->
    <div class="flex flex-col justify-center">
      <div class="text-center md:text-left mt-[-50px] ml-8">
        <h2 class="text-4xl font-extrabold text-base-content">Personen Eingabe</h2>
        <p class="mt-2 text-sm text-base-content/60">
        Bite fülle die Felder aus, um fortzufahren.
        </p>
        <br>
      </div>
      

      <div class="bg-base-100 py-10 px-8 shadow-xl rounded-lg sm:px-12 w-full transform -translate-x-12 ">
        <form class="space-y-6" (submit)="onLogin($event)">
          
          <!-- Vorname -->
          <div>
            <label for="firstName" class="block text-sm font-medium text-base-content">Vorname</label>
            <input type="text" id="firstName" name="firstName" required 
              class="w-full px-4 py-2 border border-base-300 rounded-lg shadow-sm focus:ring-primary focus:border-indigo-500"
              (input)="updatePerson('firstName', $event)">
          </div>

          <!-- Nachname -->
          <div>
            <label for="lastName" class="block text-sm font-medium text-base-content">Nachname</label>
            <input type="text" id="lastName" name="lastName" required 
              class="w-full px-4 py-2 border border-base-300 rounded-lg shadow-sm focus:ring-primary focus:border-indigo-500"
              (input)="updatePerson('lastName', $event)">
          </div>

          <!-- Raum-Nummer -->
          <div>
            <label for="roomNumber" class="block text-sm font-medium text-base-content">Raum-Nummer</label>
            <input type="number" id="roomNumber" name="roomNumber" required 
              class="w-full px-4 py-2 border border-base-300 rounded-lg shadow-sm focus:ring-primary focus:border-indigo-500"
              (input)="updatePerson('roomNumber', $event)">
          </div>

          <!-- Login Button -->
          <div>
            <button type="submit" 
              class="w-full flex justify-center py-3 px-4 border border-transparent rounded-lg shadow-md text-primary-content bg-primary hover:bg-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary text-lg font-semibold">
              Speichern
            </button>
          </div>

        </form>
      </div>
    </div>

    <!-- Rechte Seite: Großes Bild -->
    <div class="hidden md:flex items-center justify-center">
      <img src="assets/images/Pepper.jpg" alt="Illustration" class="h-full w-full object-cover rounded-lg shadow-lg">
    </div>

  </div>
</div>
